span {
  font-size: 16px;
}

.scgui-home {
  align-items: center;
}

.scgui-home-icon {
  width: 10vw;
}

.scgui-home-title {
  font-size: 32px;
  font-weight: 600;
}

.scgui-install-status {
  margin-top: 18px;
  margin-bottom: 18px;

  .n-tag {
    margin-right: 10px;
  }
}

.scgui-tag-can-click {
  :hover {
    cursor: pointer;
  }
}
